.anime-image {
  border-radius: 0.2em 0.2em 0 0;
  width: 90vw;
  height: 24em;
  object-fit: cover;
}
.anime-card {
  border-radius: 5px;
  margin: 0.7em;
  background: white;
  box-shadow: #c0c0c0 10px 9px 30px;
}
.anime-card h1 {
  font-size: 1em;
}
.anime-card p {
  padding: 1em;
}
