.detail-container h1 {
  justify-content: space-between;
  margin: 1em;
  font-size: 1em;
  text-align: center;
}
.detail-container img {
  object-fit: cover;
  height: 20em;
}
.detail-container p {
  padding: 1em;
}
.detail-container button {
  width: 100%;
  padding: 1em;
  color: white;
  border: none;
  background-color: var(--primary-color);
}