.anime-wrapper {
  overflow: scroll;
  align-items: center;
  list-style: none;
  padding-bottom: 2em;
  padding-top: 1em;
  scrollbar-width: none;
}
.anime-wrapper::-webkit-scrollbar {
  display: none;
}
.dashboard-title {
  font-weight: 300;
  text-align: center;
}
.anime-count-container {
  text-align: center;
  font-weight: 600;
}