.side-menu {
  z-index: 1;
  list-style: none;
  padding: 1em;
  width: 14em;
  position: fixed;
  top: 0;
  height: 100vh;
  flex-direction: column;
  background-color: var(--bg-color);
  box-shadow: rgba(129, 129, 129, 0.356) 10px 5px 10px;
}

.side-menu > li {
  margin-bottom: 1em;
}

.side-menu a {
  text-decoration: none;
  color: black;
}

.side-menu button {
  font-size: 1em;
  border: none;
  padding: 1em 0;
}

.user-container {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.separator {
  margin-top: auto;
  height: 1px;
  width: 100%;
  background-color: #e9e9e9;
}

.bg-black {
  background-color: #00000050;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.d-none {
  display: none;
}

.user-image {
  opacity: 0.3;
  width: 8em;
  padding: 1em;
  margin: 1em;
}

.active-mark {
  padding-left: 0.3em;
  background-color: #eeeeee9a;
  border-left: var(--primary-color) solid 4px;
}
