
* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;

  --primary-color: #fe4518;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

.d-flex {
  display: flex;
}
