@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;

  --primary-color: #fe4518;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
}

img {
  width: 100%;
}

.d-flex {
  display: flex;
}

.link-base {
  padding: 2em;
  color: #646464;
  text-decoration: none;
}
